#player div, #playlist div {
	display: inline-block;
}

#player .controls, #playlist .controls {
	vertical-align: text-bottom;
}

#player input {
	display: inline-block;
	width: 100px;
	margin-left: 20px;
}